.cards {
  margin-bottom: 20px;
}
.card {
  min-height: 100%;
}
.card:hover {
  box-shadow: 0 0 4px #a1a1a1;
  transition: ease 0.2s;  
}
.card a:hover {
  text-decoration: none !important;
}
.card img {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  padding: 1rem !important;
  margin-bottom: 10px;
  /* min-height: 365px;
  max-height: 365px; */
  max-width: 100%;
}
.card-body {
  padding: .75rem !important;
}